span.glyphicon-large { 
  font-size: 32px;
  vertical-align: middle;
}

.page-footer { 
  padding-top: 10px;
  margin-top: 10px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #eeeeee;
}

blockquote { 
  background-color: lightblue;
  font-size: larger;
  font-style: italic;
}

code {
  font-size: 100% !important;
}
